body, html {
  //padding-top: 50px;
  overflow-x: hidden;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1.top {
    background: rgb(59, 59, 59);
    padding: .5em;
    color: rgb(232, 255, 100);
    margin: 0;
    font-size: .5em;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

.viewProfButton {
	width: 100%;
	padding: 10px;
	background-color: #333;
	color: #fff;
	font-weight: 300;
}

.viewProfButton:hover {
	background-color: #BAE888;
	color: #333;
	font-weight: 300;
}

.modal-footer {
	margin: 0;
	padding: 0;	
}

.users {
	padding: 30px 10px 30px 10px;
}

.modal {
	top: 30%;
}

#sidebar {
  background: black;
  color: white;
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 150;
  padding-top: 50px;

  font-size: 1.2em;

  span#logged-in-as {
    display: inline-block;
    font-size: .75em;
    padding: 1em;
    /* margin-top: 1em; */
    color: rgb(254, 255, 132);
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);

      a {
        span.link {
          display:inline-block;
          width: 100%;
          padding: 1em 0;
          margin-left: 2em;
        }
      }
    }
  }
  a:hover {
    color: white;
  }
}

#navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: rgba(16, 16, 16, 0.77);
  color: white;
  /* vertical-align: middle; */
  /* height: 50px; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* padding: 3px; */
  /* position: relative; */
  height: 50px;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  /* -webkit-box-pack: center; */
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;

  span.pairfit {
    vertical-align: top;
    margin-left: 18px;
    font-size: 20px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    display: inline-block;
  }

  a#menu {
    display: inline-block;
    vertical-align: middle;
    img {
      display: inline-block;
      margin-left: 18px;
      vertical-align: middle;
      height: 25px;
    }
  }

}